<div class="container">
  <h1>Articles</h1>

  <div id="articles">
    <%= link_to "New Article", new_article_path, class: "btn btn-success", role: "button" %>

    <% @articles.each do |article| %>
      <br>
      <br>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= article.title %></h5>
          <p class="card-text" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><%= article.body %></p>
          <%= link_to "Show this article", article, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>

</div>
